@import '../../assets/styles/index.scss';

//utils

.home__wrapper .heading { font-weight: normal; font-size: 24px; color: $navy-blue; font-weight: 500; padding-bottom: 40px; }



@media screen and (max-width: 767px) {
    .home__wrapper .heading { font-size: 18px; padding-bottom: 14px; }
    
}
